Repository RebeccaStevens/template-typescript-node-package: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore: switch to using a vitest config file
  vitest.config.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc --noEmit

chore: update all deps
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

build: update everything
  .commitlintrc.cjs
  .eslintrc.json
  .github/FUNDING.yml
  .github/renovate.json
  .github/workflows/accessibility-alt-text-bot.yml
  .github/workflows/lint-packages.yml
  .github/workflows/release.yml
  .lintstagedrc.yml
  .markdownlint.json
  .markdownlintignore
  .nvmrc
  .prettierignore
  .prettierrc.yml
  DONATIONS.md
  SECURITY.md
  knip.jsonc
  package.json
  pnpm-lock.yaml
  project-dictionary.txt
  rollup.config.ts
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.eslint.json
  vitest.config.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

docs: state that this template is really just for me
  README.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

build: update node and pnpm
  .nvmrc
  package.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: dedupe on lockfile changes
  .lintstagedrc.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: run knip dev
  .github/workflows/release.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: only run label sync when labels config changes
  .github/workflows/sync-labels.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: update settings
  .markdownlint.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: update husky config
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: deps update and knip fix
  knip.jsonc
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: use plugin vitest only on test files
  .eslintrc.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: switch lib to dist
  vitest.config.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc --noEmit

chore: remove downstream project test setup
  vitest.config.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc --noEmit

chore: simplify includes
  tsconfig.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: fix sync label workflow permissions
  .github/workflows/sync-labels.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

feat: update linting and deps
  .eslintrc.json
  .gitattributes
  .lintstagedrc.yml
  .npmrc
  .prettierignore
  .vscode/settings.json
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  tests/index.test.ts
  tsconfig.eslint.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc --noEmit

fix: remove prettier ci and don't require knip dev for releases
  .github/workflows/lint-prettier.yml
  .github/workflows/release.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

fix: lint yaml
  .github/workflows/lint-yaml.yml
  .github/workflows/release.yml
  package.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

fix: update markdown scripts
  .github/workflows/lint-markdown.yml
  .lintstagedrc.yml
  .markdownlint-cli2.jsonc
  .markdownlintignore
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: use node v20
  .github/actions/prepare/action.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: have renovate rebase when behind base branch
  .github/renovate.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

fix: update license year
  LICENSE
Due: none

build: update deps
  .github/FUNDING.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/test-js.yml
  .github/workflows/typecheck.yml
  .markdownlint-cli2.jsonc
  .vscode/settings.json
  CONTRIBUTING.md
  DONATIONS.md
  README.md
  cspell.config.yml
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

build: deps update
  package.json
  pnpm-lock.yaml
  rollup.config.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc --noEmit

build: update knip
  knip.jsonc
Due: none

fix: update everything
  .github/FUNDING.yml
  .github/workflows/build.yml
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .nvmrc
  .releaserc.yml
  .vscode/settings.json
  README.md
  cspell.config.yml
  eslint.config.js
  jsr.json
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  tsconfig.build.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

build: deps update
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: fix jsr release
  .github/workflows/release.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

fix: filter what files are published to jsr
  jsr.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

build: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

build: update rollup build config
  .lintstagedrc.yml
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/index.ts
  src/tsconfig.json
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc --noEmit

fix: small update
  .github/workflows/release.yml
  .github/workflows/test-js.yml
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/tsconfig.build.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc --noEmit

ci: update dependency management
  .github/renovate.json
  .releaserc.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

build: update ts config
  tsconfig.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: remove knip prod
  .github/workflows/lint-knip-dev.yml
  .github/workflows/lint-knip.yml
  .github/workflows/release.yml
  package.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: remove unused config file
  .prettierrc.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: add more labels
  .github/labels.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: use latest node version
  .github/actions/prepare/action.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

Path conditions:
  prettier --ignore-unknown --write: ((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md)
  cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot: ((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md)
  eslint --fix: any of: *.ts
  tsc --noEmit: any of: *.ts
  markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore: any of: *.md
