Repository RebeccaStevens/template-typescript-node-package: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore, pnpm dedupe && :

feat(template): add advanced option to toggle VS Code configuration
  README.md
  scripts/init.ts
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore: remove !.vscode/ un-ignore pattern from .gitignore
  .gitignore
Due: none

fix(ci): use .templatesyncignore file for actions-template-sync exclusions
  .github/workflows/template-sync.yml
  .templatesyncignore
  package.json
  scripts/init.ts
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: clean up and sort package.json files array
  package.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore(release): pin release toolchain to npx chain; add renovate customManager + knip ignores
  .github/renovate.json
  .releaserc.yml
  knip.jsonc
  package.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore(deps): update dependencies, packageManager, and package metadata
  package.json
  pnpm-lock.yaml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore(config): enable engine-strict, widen lint-staged globs, quote husky arg
  .husky/commit-msg
  .lintstagedrc.yml
  .npmrc
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore(config): update ignore/sync rules, build config, and dictionary
  .gitignore
  .templatesyncignore
  project-dictionary.txt
  rollup.config.ts
  src/tsconfig.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci(template-sync): add reusable workflow and gated consumer shim
  .github/workflows/reusable-template-sync.yml
  .github/workflows/template-sync.yml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci(security): grant least-privilege permissions and harden workflows
  .github/workflows/accessibility-alt-text-bot.yml
  .github/workflows/build.yml
  .github/workflows/done-label.yml
  .github/workflows/lint-attw.yml
  .github/workflows/lint-js.yml
  .github/workflows/lint-knip.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-packages.yml
  .github/workflows/lint-spelling.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/test-js.yml
  .github/workflows/typecheck.yml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

style: add eslint override and enable new lint plugins
  eslint.config.js
Due: none

feat(init): add config mode, hardening, and atomic rollback
  package.json
  scripts/init-config.schema.json
  scripts/init.ts
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

test: add type-level contract for public export
  tests/index.test.ts
Due: none

docs: add agent guide, platform sync, and onboarding documentation
  AGENTS.md
  CALIBRATION.md
  CONTRIBUTING.md
  README.md
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

build: migrate bundler from rollup to tsdown
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  AGENTS.md
  CALIBRATION.md
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/tsconfig.build.json
  tsdown.config.ts
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore, pnpm dedupe && :

build: migrate bundler from rollup to tsdown
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/tsconfig.build.json
  tsdown.config.ts
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

feat(init): add config mode, hardening, and atomic rollback
  scripts/init.ts
Due: none

build: migrate bundler from rollup to tsdown
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

feat: add auto-release toggle configuration
  .github/workflows/release.yml
  README.md
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Path conditions:
  eslint --fix: (any of: *.{json,yml}) or (any of: *.md)
  cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot: (any of: *.{json,yml}) or (any of: *.md)
  markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore: any of: *.md
  pnpm dedupe && :: any of: pnpm-lock.yaml
