Repository RebeccaStevens/template-typescript-node-package: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore, pnpm dedupe && :

.lintstagedrc.yml:

"*.{json,yml}":
  - eslint --fix
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

"*.?([cm])[jt]s?(x)":
  - eslint --fix
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot
  - tsc-files -p tsconfig.build.json --noEmit

"*.md":
  - eslint --fix
  - markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

pnpm-lock.yaml:
  - "pnpm dedupe && :"

chore: update knip config
  knip.jsonc
Due: none

chore: remove unused prettier plugin
  package.json
  pnpm-lock.yaml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore: remove ref to now non-existent files
  .gitattributes
  cspell.config.yml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

build: update deps
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

build: remove semantic-release as dev dependency
  knip.jsonc
  package.json
  pnpm-lock.yaml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

feat: add publint
  .github/workflows/build.yml
  .releaserc.yml
  package.json
  pnpm-lock.yaml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore: small tweak to prevent ci failing
  DONATIONS.md
  package.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore: small tweak to prevent ci failing
  .github/FUNDING.yml
  DONATIONS.md
  README.md
  jsr.json
  package.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat: update to typescript v6
  package.json
  pnpm-lock.yaml
  src/tsconfig.json
  tsconfig.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

ci: switch back to using prs for renovate
  .github/renovate.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: update renovate config
  .github/renovate.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: ignore action names with pinned version
  cspell.config.yml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: update renovate automergeStrategy
  .github/renovate.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

fix: small issues
  rollup.config.ts
  src/tsconfig.json
  tsconfig.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

build: replace eslint-plugin-eslint-comments with @eslint-community/eslint-plugin-eslint-comments
  package.json
  pnpm-lock.yaml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore: remove npm token
  .github/workflows/release.yml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: deps update
  .gitignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore: ignore spelling in pnpm-workspace.yaml
  cspell.config.yml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore(deps): update lockfile and tooling dependencies
  .gitignore
  cspell.config.yml
  knip.jsonc
  pnpm-lock.yaml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

refactor(tests): update vitest config and test suite
  src/index.ts
  tests/index.test.ts
  vitest.config.ts
Due: none

fix(package): add engines field, attw script, and fallback resolution exports
  package.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: configure node version from .nvmrc, workflow concurrency, and template sync
  .github/actions/prepare/action.yml
  .github/workflows/build.yml
  .github/workflows/lint-js.yml
  .github/workflows/lint-knip.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-packages.yml
  .github/workflows/lint-spelling.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/template-sync.yml
  .github/workflows/test-js.yml
  .github/workflows/typecheck.yml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

feat(template): add automated package initialization script and setup documentation
  .vscode/launch.json
  DONATIONS.md
  README.md
  package.json
  project-dictionary.txt
  scripts/init.ts
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat: add wireit build caching and build:force script
  .gitignore
  cspell.config.yml
  package.json
  pnpm-lock.yaml
  project-dictionary.txt
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore: remove /.jj from local .gitignore
  .gitignore
Due: none

docs: add --allow-git=all to npx commands in README
  README.md
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix: compile init script to JS for npx compatibility
  eslint.config.js
  package.json
  scripts/init.js
  scripts/tsconfig.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

fix: use import.meta.dirname for sourcePath in init script
  scripts/init.js
  scripts/init.ts
Due: none

fix(template): resolve init script artifacts and harden CI workflows
  .github/workflows/done-label.yml
  .github/workflows/lint-attw.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/template-sync.yml
  .gitignore
  README.md
  jsr.json
  package.json
  scripts/init.js
  scripts/init.ts
  scripts/tsconfig.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix(template): correct yaml regex replacements and eslint test config when tests are disabled
  scripts/init.ts
Due: none

fix(template): prevent template from publishing to JSR
  .releaserc.yml
  scripts/init.ts
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

fix(template): clean up CHANGELOG.md during initialization
  scripts/init.ts
Due: none

fix(template): automatically ignore deleted features in template-sync
  scripts/init.ts
Due: none

fix(template): fix template sync recreating scripts and test dirs
  .github/workflows/template-sync.yml
  scripts/init.ts
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

fix(template): resolve jsonc parsing crash for launch.json cleanup
  scripts/init.ts
Due: none

fix(ci): prevent reusable workflows from cancelling each other
  .github/workflows/build.yml
  .github/workflows/lint-attw.yml
  .github/workflows/lint-js.yml
  .github/workflows/lint-knip.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-packages.yml
  .github/workflows/lint-spelling.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/template-sync.yml
  .github/workflows/test-js.yml
  .github/workflows/typecheck.yml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

fix(ci): strictly isolate reusable workflow concurrency groups
  .github/workflows/build.yml
  .github/workflows/lint-attw.yml
  .github/workflows/lint-js.yml
  .github/workflows/lint-knip.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-packages.yml
  .github/workflows/lint-spelling.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/template-sync.yml
  .github/workflows/test-js.yml
  .github/workflows/typecheck.yml
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: remove redundant files and dist from template files array
  package.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

fix(template): exclude src/ from published user packages to reduce size
  scripts/init.ts
Due: none

fix(template): restore dist/ to template files array to pass attw resolution
  package.json
Due: eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot
